@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

@font-face {
  font-family: Scriptorama;
  src: url('./assets/scriptorama.woff') format('woff');
}

$border-radius: 15px;
$gray: #636363;

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100%;

  min-width: 450px;
  min-height: 600px;

  background-color: #bdc3c7;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
}

body {
  padding-top: 50px;
  width: 100%;
}

body[data-anchor] {
  .front {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
  }
}

#svg-defs {
  position: absolute;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Scriptorama', arial;
  font-weight: 700;
  line-height: 1.6;
}

h1 {
  font-size: 46px;
  letter-spacing: 2px;
  margin: 0.67em 0;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
  margin: 0 0 0.83em;
  color: $gray;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
                                    rgba(0, 0, 0, 0),
                                    rgba(0, 0, 0, 0.75),
                                    rgba(0, 0, 0, 0));
}

.error-label {
  z-index: 1;
  top: 0;
  margin-left: 20px;
  right: 20px;
  padding: 2px 10px;
  position: fixed;
  color: white;
  background-color: #923131;

  &:empty {
    display: none;
  }
}

.top-bg {
  position: fixed;
  height: 200px;
  left: 0;
  right: 0;
  top: 0;

  background-color: #264356;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

.card {
  position: relative;
  width: 400px;
  height: 525px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: $border-radius;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  outline: none;

  animation-name: show-card-animation;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-fill-mode: forwards;
}

@keyframes show-card-animation {
  0%   { transform: translateY(-40px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1;   }
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);

  background-color: #fff;
  border-radius: $border-radius;
  cursor: pointer;

  z-index: 6;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: visible;
  backface-visibility: visible;

  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);

  background-color: #ccc;
  border-radius: $border-radius;
}

.back__rings {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100%;
  transform: scale(-1, 1);
  fill: #ccc;
}

@mixin card-focused() {
  .front {
    transform: perspective(800px) rotateY(-170deg);
    background-color: #ccc;
    transition: all 0.8s ease-in-out;
  }

  .back {
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.1),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.8s ease-in-out;
  }

  .liner {
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

body:not(.error) .card[data-active] {
  @include card-focused();
}

body.error {
  .front {
    cursor: not-allowed;
  }

  .card {
    opacity: 0.8;
  }
}

.front__rings {
  margin-top: 120px;
  width: 100%;
  height: 180px;
  overflow: visible;
}

.front__title {
  margin-top: 72px;
  margin-bottom: 0;
  text-align: center;

  font-size: 30px;
  color: #4f575d;
}

.front__date {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  color: #4f575d;
}

.front__caption {
  text-align: center;
  color: #888888;
  font-size: 12px;
}

.inner {
  padding: 30px;
  height: 100%;
  width: 100%;

  box-shadow: inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e0e0e0;
  border-radius: $border-radius;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-align: center;
  letter-spacing: -0.2px;
}

.content__main {
  flex: 1;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.content__names {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
}

#names {
  margin: 0;

  letter-spacing: 2px;

  &[data-large] {
    font-size: 24px;
  }

  &::after {
    content: "!";
  }
}

.content__buttons {
  flex-shrink: 0;
  height: 50px;
  margin: 0 -30px -30px -31px;
  overflow: hidden;

  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  > button {
    float: left;
    width: 50%;
    height: 100%;

    padding: 0;
    text-align: center;
    border: 0;
    cursor: pointer;

    background: #ffbdc7;
    color: #666;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 0px 10px #fff;

    transition: background .2s;

    &:first-child {
      border-right: solid 1px #cc919a;
      border-bottom-left-radius: $border-radius;

      &:hover, &:focus {
        background: #9ccc65;
      }

      &:active {
        background: #8bc34a;
      }

      &:focus {
        box-shadow: inset 0 0 0 0.2rem rgba(#8bc34a, 0.9);
      }
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;

      &:hover, &:focus {
        background: #fba3b0;
      }

      &:active {
        background: #eca6b0;
      }

      &:focus {
        box-shadow: inset 0 0 0 0.2rem rgba(255, 189, 199, 0.5);
      }
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      opacity: 0.8;
      pointer-events: none;
    }
  }
}

.content__links {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 14px 0 20px;

  font-size: 14px;
  text-transform: uppercase;

  a + a {
    margin-left: 14px;
  }
}

a {
  position: relative;

  color: #d2707f;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;

    opacity: 0;
    border-bottom: 1px solid currentColor;
    pointer-events: none;

    transition: all .4s;
  }

  &:hover, &:focus {
    color: darken(#d2707f, 5%);

    &::after {
      opacity: 1;
      left: -2px;
      right: -2px;
    }
  }

  &:active {
    color: darken(#d2707f, 10%);

    &::after {
      left: -6px;
      right: -6px;
    }
  }
}

.content__date {
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
  color: $gray;
  letter-spacing: 1px;
}

.accent-label {
  font-size: 18px;
  font-weight: 300;
  color: $gray;
  text-transform: uppercase;
}

.schedule__date {
  margin-bottom: 20px;
  font-weight: 700;
  color: #666;
  text-align: center;

  &:not(:first-of-type) {
    margin-top: 32px;
  }
}

.schedule__row {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
}

.schedule__time {
  display: inline-block;
  min-width: 60px;
  margin-right: 10px;
  padding: 6px;

  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;

  &:not(:empty) {
    background-color: #03a9f4;
  }

  &:empty::before {
    content: "";
    position: absolute;
    left: 26px;
    width: 8px;
    height: 8px;
    margin-top: -3px;
    background-color: #03a9f4;
    border-radius: 50%;
  }
}

.schedule__list {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 29px;
    z-index: -1;

    background-color: #03a9f4;
  }
}

.liner {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: -20px;
  right: -20px;
  padding: 30px 36px;

  z-index: 5;
  opacity: 0;
  pointer-events: none;

  background-color: #fff;
  box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 15px;

  &:target {
    opacity: 1;
    transform: translateY(10px);
    pointer-events: auto;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.liner__close {
  display: inline-block;
  margin-bottom: 20px;
}

[data-loading] {
  color: transparent !important;
  min-height: .8rem;
  pointer-events: none;
  position: relative;
  opacity: 0.8;

  &::after {
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.4em;
    margin-top: -.5em;
    z-index: 1;

    animation: loading .5s infinite linear;
    border: 2px solid #444;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.copy {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;

  font-size: 10px;
  color: #666;
  text-align: center;
  text-transform: uppercase;
}

.details__content {
  margin-top: 24px;

  font-size: 1rem;
  text-align: center;

  hr {
    margin: 1.2rem 0;
  }
}

::selection {
  color: gold;
  background: #cc2626;
}

body.browser-firefox {
  .back {
    box-shadow: none !important;
  }
}
