@font-face {
  font-family: Scriptorama;
  src: url('./assets/scriptorama.woff') format('woff');
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 420px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

h1, h2 {
  font-family: 'Scriptorama', arial;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2px;
}

h1 {
  font-size: 46px;
  margin: 0 0 0.67em;
}

h2 {
  font-size: 26px;
  margin: 0 0 0.83em;
  color: #636363;
}

.main__title {
  margin-bottom: 0.4em;
}

.main__subtitle {
  margin-bottom: 0;
}